.quiz-page-container {
    display: flex;
    min-height: 100vh;

    .left-third {
        background: #e65c00;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(
          45deg,
          #e0eafc,
          #cfdef3
        );
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(45deg, #e0eafc, #cfdef3);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        min-height: 100%;
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-two-third {
        width:67%;
        min-height: 100%;
        background: #FDF8F3;
        padding: 10px 50px;

        .quiz-topic {
            font-family: 'Montserrat', sans-serif;
            font-size: 60px;
            padding: 20px 50px;
        }
    }
}